# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Test, env, vscode, etc.
.env
*.egg-info
.pytest_cache/
.vscode/
.devcontainer/
.venv/
.python-version
requirements.txt
others/


# Artifacts
checkpoints/
div_check/
logs/
lightning_logs/
wandb/

# data
data/stats/
data/synths
data/datasets/**/**
!data/datasets/.gitkeep