# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
# !data/synths/TAL-NoiseMaker.vst3/Contents/x86_64-linux/TAL-NoiseMaker.so
# !data/synths/Diva.vst3/Contents/x86_64-linux/Diva.so
# !data/synths/Dexed.vst3/Contents/x86_64-linux/Dexed.so

# Test, env, vscode, etc.
.env
*.egg-info
.pytest_cache/
.vscode/
.devcontainer/
others/


# Artifacts
checkpoints/
div_check/
logs/
lightning_logs/
wandb/

# data
data/stats/
data/datasets/**/**
!data/datasets/.gitkeep