# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Test, env, vscode, etc.
.env
*.egg-info
.pytest_cache/
.vscode/

# Artifacts
checkpoints/
div_check/
logs/
lightning_logs/
wandb/

# data
data/*
!data/synths/*


